.my-width-100{
	width:100%;
}


.my-width-50{
	width:50%;
}


.my-width-30{
	width:30%;
}



.my-text-center{
	text-align:center;
}

.my-text-left{
	text-align:left;
}

.my-text-right{
	text-align:right;
}

.my-text-green{
	color:green;
}

.my-text-red{
	color:red;
}













/* Чекбоксы и радиокнопки */
 
 /* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.my-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.my-checkbox + label {
  cursor: pointer;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.my-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.my-checkbox:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 60px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.my-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.my-checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.my-checkbox:checked + label:before {
  background: #9FD468;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.my-checkbox:checked + label:after {
  left: 26px;
}
/* Показываем получение фокуса. */
.my-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

.my-radio {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.my-radio + label {
	cursor: pointer;
}
.my-radio:not(checked) {
	position: absolute;
	opacity: 0;
}
.my-radio:not(checked) + label {
	position: relative;
	padding: 0 0 0 35px;
}
.my-radio:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.my-radio:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.my-radio:checked + label:after {
	opacity: 1;
}
.my-radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}

input[type='reset'] {
	padding: 12px 15px;
	border: none;
	border-radius: 5px;
	background: #CDD1DA;
	color: #FFF;
	cursor: pointer;
	font-size: 15px;
}
input[type='reset']:active {
	background: #BDC0CC;
}
input[type='reset']:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}