<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Маршруты/Название фирмы/Название базы</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/my-css.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	
		<div class="container">
			<div class="row">
			<!-- Хлебные крошки -->
				<ol class="breadcrumb">
					<li><a href="#">Главная</a></li>
					<li class="active">Маршруты</li>
				</ol>
			<!--/. Хлебные крошки -->	
			</div>
			
			<div class="row">
				<div class="alert alert-success my-text-center">Маршруты</div>			
				<!-- Список маршрутов -->
				<div class="btn-group-vertical my-width-100">
					<a href="" role="button" class="btn btn-default btn-lg my-text-left">1 Понедельник <span class="label label-default my-text-right">1</span></a>
					<a href="" role="button" class="btn btn-default btn-lg my-text-left">2 Вторник <span class="label label-default">1</span></a>
					<a href="" role="button" class="btn btn-default btn-lg my-text-left">3 Среда <span class="label label-default">1</span></a>			
					<a href="" role="button" class="btn btn-default btn-lg my-text-left">4 Четверг <span class="label label-default">1</span></a>			
					<a href="" role="button" class="btn btn-default btn-lg my-text-left">5 Пятница <span class="label label-default">1</span></a>
					<a href="" role="button" class="btn btn-default btn-lg my-text-left">6 Суббота <span class="label label-default">1</span></a>
					<a href="" role="button" class="btn btn-default btn-lg my-text-left">7 Воскресенье <span class="label label-default">1</span></a>			
				</div><!--/. btn-group-vertical -->
				<!--/. Список маршрутов -->
			</div><!--/. row -->
		</div><!--/. container -->
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>