<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Срез цен/Название фирмы/Название базы</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/my-css.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	
		<div class="container">
			<div class="row">
			<!-- Хлебные крошки -->
				<ol class="breadcrumb">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Маршруты</a></li>
					<li><a href="#">Торговые точки</a></li>
					<li><a href="#">Меню визита</a></li>
					<li class="active">Срез цен</li>
				</ol>
			<!--/. Хлебные крошки -->	
			</div><!--/. row -->
		
			<div class="row">
				<div class="alert alert-success my-text-center"><strong>Срез цен.</strong>(<strong>Антошка</strong> <em>Украина, Полтавская область, Горишние плавни, 23/11</em>)</div>

			
				<form  action="#" method="post"  enctype="multipart/form-data">
				
					<!-- СКЮ -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Вода минеральная 0,5</h3>
						</div><!--/. panel-heading -->	
						<div class="panel-body">
							<div>	
								<label for="vhod_cena_id" class="my-text-center">Входящая цена</label>	
								<input type="number"  name="vh_cena_id" value="3" class="required-entry my-width-100  input-lg" spellcheck="false"/>
								<br>
							</div>
							<br>
							
							<div>	
								<label for="vihod_cena_id" class="my-text-center">Цена на полке</label>	
								<input type="number"  name="vihod_cena_id" value="3" class="required-entry my-width-100  input-lg" spellcheck="false"/>
								<br>
							</div>	

							<div>	
								<label for="prodazhi_id" class="my-text-center">Продажи</label>	
								<input type="number"  name="prodazhi_id" value="3" class="required-entry my-width-100  input-lg" spellcheck="false"/>
								<br>
							</div>
						</div><!--/. panel-body -->	
					</div><!--/. panel panel-default -->				
					<!-- /.СКЮ -->
				


					<!-- Кнопки Далее/Назад -->
					<div class="btn-group my-width-100">
						<a href="#" class="btn btn-default  btn-lg my-width-50">Назад</a>
						<button type="submit" class="btn btn-success btn-lg my-width-50">Далее</button>
					</div><!--/. btn-group my-width-100 -->
					<!--/. Кнопки Далее/Назад -->
				
				</form>	
				
			</div><!--/. row-->
		</div><!--/. container -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/my-js.js"></script>
	</body>
</html>