<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Название фирмы/Название базы</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/my-css.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
	
		<div class="container">
			<div class="row">
				<ol class="breadcrumb">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Маршруты</a></li>
					<li><a href="#">Торговые точки</a></li>
					<li><a href="#">Меню визита</a></li>
					<li class="active">Задание ТТ</li>
				</ol>
			</div>
		
			<div class="row">
				<div class="alert alert-success my-text-center"><strong>Параметры документа.</strong>(<strong>Антошка</strong> <em>Украина, Полтавская область, Горишние плавни, 23/11</em>)</div>
			</div>
			
			<div class="row">
			
			
			
			
				<form role="form">

					<label for="type_document" class="my-text-center">Тип документа</label>
					<div class="form-group  my-width-100" id ="type_document">
						<select class="form-control  input-lg">
							<option>Заказ</option>
							<option>Возврат</option>
							<option>Подарок</option>
						</select>					
					</div>			
				
				
					<label for="sklad" class="my-text-center">Склад</label>
					<div class="form-group  my-width-100" id ="sklad">
						<select class="form-control  input-lg">
							<option></option>
							<option>Простор</option>
							<option>Аптека</option>
							<option>Некрасова</option>
						</select>					
					</div>	
					
					
					<label for="type_document" class="my-text-center">Прайс лист</label>
					<div class="form-group  my-width-100" id ="type_document">
						<select class="form-control  input-lg">
							<option></option>
							<option>Розница</option>
							<option>Опт</option>
						</select>					
					</div>	


					<label for="type_document" class="my-text-center">Оставить данные стандартными</label>
					<div class="form-group  my-width-100" id ="type_document">
						<select class="form-control  input-lg">
							<option></option>
							<option>Да</option>
							<option>Нет</option>
						</select>					
					</div>					
					
					
					
					
				<div>	
					<label for="comment" class="my-text-center">Комментарий</label>	
					<textarea class="form-control" rows="2" id="comment"></textarea>
					<br>
				</div>
					

					<div class="btn-group my-width-100">
						<a href="#" class="btn btn-default  btn-lg my-width-50">Назад</a>
						<button type="submit" class="btn btn-success btn-lg my-width-50">Далее</button>
					</div>
				
				</form>	
				
			</div>







		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/my-js.js"></script>
	</body>
</html>