<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="noindex, nofollow"/>
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Название фирмы/Название базы</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/my-css.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
	<!-- Яндекс карта -->
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	
		
	</head>
	<body>
	
		<div class="container">
			<div class="row">
				<ol class="breadcrumb">
					<li><a href="#">Главная</a></li>
					<li><a href="#">Маршруты</a></li>
					<li class="active">Торговые точки</li>
				</ol>
			</div>
			
		<div class="alert alert-success my-text-center">1 Понедельник</div>
		
	   <div class="input-group">
		  <input type="text" class="form-control">
		  <span class="input-group-btn">
			<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		  </span>
		</div><!-- /input-group -->			
		<br>	
			
			

			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a href=""><strong>Антошка</strong> <em>Украина, Полтавская область, Горишние плавни, 23/11</em></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#1" class="btn btn-info btn-xs   glyphicon glyphicon-pencil">
							</a>
						</h4>
					</div>
					<div id="1" class="panel-collapse collapse">
						<div class="panel-body">

							<div>
								<div class="my-edit-tt"><strong>Фактическое название:</strong> Антошка <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a> </div> 
									
									<div class="my-hidden-edit-form-tt"  style="display:none;">
										<form action="#" method="post"  enctype="multipart/form-data">
												<input type="text"  name="my-fact-name" value="Антошка" class="required-entry my-width-100" spellcheck="false"/>
												<input type="hidden" name="id" value="1">
												<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>
									</div><!--/ #form-yur-name -->	
								<br>
							</div>						
						
						
						

						
							<div>
								<div class="my-edit-tt"><strong>Юридическое название:</strong> Лоза Владимир Иванович <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a> </div> 
									
									<div class="my-hidden-edit-form-tt"  style="display:none;">
										<form action="#" method="post"  enctype="multipart/form-data">
												<input type="text"  name="my-yur-name" value="Лоза Владимир Иванович" class="required-entry my-width-100" spellcheck="false"/>
												<input type="hidden" name="id" value="1">
												<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>
									</div><!--/ #form-yur-name -->	
								<br>
							</div>
							
							<div>
								<div class="my-edit-tt"><strong>Альтернативное название:</strong> Маркет Опт <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a></div>
								
									<div class="my-hidden-edit-form-tt" style="display:none;">
										<form action="#" method="post"  enctype="multipart/form-data">
												<input type="text" name="my-alter-name" value="Маркет Опт" class="required-entry my-width-100" spellcheck="false"/>
												<input type="hidden" name="id" value="1">
												<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>
									</div><!--/ #form-my-alter-name -->								
								<br>
							</div>
							
							<div>
								<div class="my-edit-tt"><strong>Юридический адрес:</strong> Украина, Полтавская область, Горишние плавни, 23/11 <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a> </div>
								
								
									<div class="my-hidden-edit-form-tt" style="display:none;">
										<form action="#" method="post"  enctype="multipart/form-data">
												<input type="text" name="my-alter-name" value="Украина, Полтавская область, Горишние плавни, 23/11" class="required-entry my-width-100" spellcheck="false"/>
												<input type="hidden" name="id" value="1">
												<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>
									</div><!--/ #form-my-yur-adress -->									
								<br>
							</div>	
							
							<div>
								<div class="my-edit-tt"><strong>Фактический адрес:</strong>  Украина, Полтавская область, Горишние плавни, 23/11 <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a> </div>
								
									<div class="my-hidden-edit-form-tt" style="display:none;">
										<form action="#" method="post"  enctype="multipart/form-data">
												<input type="text"  name="my-alter-name" value="Украина, Полтавская область, Горишние плавни, 23/11" class="required-entry my-width-100" spellcheck="false"/>
												<input type="hidden" name="id" value="1">
												<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>
									</div><!--/ #form-my-fact-adress -->								
								<br>
							</div>	
							
							
							<div>	
								<div class="my-edit-tt"><strong>Тип ТТ:</strong>  Супермаркет <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a> </div>
							
									<div class="my-hidden-edit-form-tt" style="display:none;">

										<form action="#" method="post"  enctype="multipart/form-data">
											<div class="form-group  my-width-100" id ="user">
												<select class="form-control">
												  <option>Супермаркет</option>
												  <option>Гастроном</option>
												</select>					
											</div>
											<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>									
									
									</div><!--/ #form-my-note -->							
								<br>
							</div>							
							
							
							
							<div>	
								<div class="my-edit-tt"><strong>Подтип ТТ:</strong>  МаркетОпт <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a> </div>
							
									<div class="my-hidden-edit-form-tt" style="display:none;">

										<form action="#" method="post"  enctype="multipart/form-data">
											<div class="form-group  my-width-100" id ="user">
												<select class="form-control">
												  <option>МаркетОпт</option>
												  <option>Оптовичок</option>
												</select>					
											</div>
											<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>									
									
									</div><!--/ #form-my-note -->							
								<br>
							</div>								

							<div>	
								<div class="my-edit-tt"><strong>Примечание:</strong>  Белый магазин возле зелёного дерева <a href="" class="btn btn-info btn-xs glyphicon glyphicon-pencil"></a> </div>
							
									<div class="my-hidden-edit-form-tt" style="display:none;">
										<form action="#" method="post"  enctype="multipart/form-data">
												<input type="text" name="my-note" value="Белый магазин возле зелёного дерева" class="required-entry my-width-100" spellcheck="false"/>
												<input type="hidden" name="id" value="1">
												<button type="submit" class="btn btn-success btn-xs">Сохранить</button>
										</form>
									</div><!--/ #form-my-note -->							
								<br>
							</div>
							


						
						</div>
					</div>
				</div>
				
		














		
			</div>

			
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="js/my-js.js"></script>
		
	</body>
</html>